html,body,ul,li,ol,dl dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,header,section,span{margin:0;padding:0;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;color:black;}
a{-webkit-tap-highlight-color:transparent}
img{border:0;display:block;}
em,i{font-style:normal;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight:100;}