*{
	margin: 0;
	padding: 0;
}
em{
	font-style: normal;
}
body,
html{
	width: 100%;
	height: 100%;
}
.header{
	width: 100%;
	height: 50px;
	background-color: #ad1d1c;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
}
i{
	font-style: normal;
}
.header-ul,
.footer-ul,
.class-list{
	display: flex;
	display: -moz-box;
	display: -webkit-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.header-ul li,
.footer-ul li
{
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}
#root{
	width: 100%;
	height: 100%;
}

.header-ul li a{
	color: #fff;
}
.footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #484850;
	color: #fff;
	font-weight: bold;
}

.sub-header{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	background: #9a9fa5;
	color: #fff;
	overflow: hidden;
}
.border{
	font-size: 12px;
	padding: 7px 10px;
	height: 29px;
    width: 60px;
    box-shadow: 1px 1px 10px 1px #8f0f0c;
    border-radius: 5px;
}
.class-list li{
	margin: 0 5px;
	text-align: center;
	
}
.class-list{
	padding: 0 10px;
	position: absolute;
	left: 0px;
	height: 40px;
	line-height: 40px;
	overflow-x: scroll;
}
.class-list li:hover{
	color: #8F0F0C;
}
.content{
	position: absolute;
	top: 90px;
	bottom: 50px;
	left: 0px;
	width: 100%;
	background-color: #f3f4f6;
	overflow: hidden;
}

.pro-item{
	padding: 20px 10px;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	overflow: hidden;
}
.product-list{
	position: absolute;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
}
.goodImg{
	border: 1px solid #9a9fa5;
	padding: 4px;
}
.contenthas-footerhas-sub-header{
	width: 100%;
	overflow: hidden;
}
.footer-ul a{
	color: #FFF;
}

img{
	width: 200px;
	height: 200px;
}
.footer .active{
	color: #9e0a08;
}
.scroll-wrap,
.scroller{
	width: 100%;
	overflow: hidden;
}
.bigButton{
  color: #ffffff;
  width: 100%;
  display: block;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 5px;
  height: 38px;
  line-height: 38px;
  background: #c52a28;
  background: -webkit-linear-gradient(top, #c52a28 0%, #921010 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c52a28 0%, #921010 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#index-page .content{
	top: 50px;
}
#index-page img{
	width: 100%;
}
#index-page .letter{
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
}
/**
 * Swiper 3.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: February 7, 2016
 */
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}#list-page{
	width: 100%;
	height: 100%;
}

#list-page .pro-item{
	display: flex;
	border-bottom: 1px solid #ccc;
}
#list-page .pic{
	flex: 1;
}
#list-page .pro-item p{
	flex: 1;
}
#list-page .pro-name{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
	height: 40px;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-box-orient: vertical;
 	-webkit-line-clamp: 2;
}
#list-page .del{
	display: block;
	color: #9E0A08;
}
#list-page .price{
	margin-top: 20px;
	margin-left: 10px;
}
#detail-page,
#root{
	width: 100%;
	height: 100%;
}
#detail-page .content{
	width: 100%;
	top: 50px;
	bottom: 0px;
	overflow: hidden;
}

.swiper-self-pagination{
	text-align: center;
}
.swiper-self-pagination span {
	margin-right: 10px;
}

.text-info{
	padding: 10px 20px;
}
.p-price{
	margin-top: 10px;
	color: #D51113;
	font-weight: bold;
}
.p-number{
	margin-top: 10px;
}
button{
  border: none;
  background: none;
  appearance: none;
  outline: none;
}
button::-moz-focus-inner{
  border: 0;
  padding: 0;
}

#detail-page .check{
	display: block;
}
.detail-footer {
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  overflow: hidden;
}
.look-wrap {
  height: 50px;
  background: #FFFFFF;
  padding: 0 10px;
}
.look-wrap ul {
 width: 100%;
 text-align: center;
}
.look-wrap a {
  color: #656565;
  font-size: 15px;
  font-weight: bold;
}
.add-wrap {
  padding: 5px 50px;
  height: 50px;
  background: #a3a3a3;
}
.add-wrap .add-cart {
  color: #ffffff;
  width: 100%;
  display: block;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 5px;
  height: 38px;
  line-height: 38px;
  background: #c52a28;
  background: -webkit-linear-gradient(top, #c52a28 0%, #921010 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c52a28 0%, #921010 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}body,
html{
	width: 100%;
	height: 100%;
}
.cart-bar{
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
}
#cart-page .content{
	width: 100%;
}
#cart-page .total-price{
	margin-left: 60px;
}
#cart-page .total-price em{
	color: red;
	font-weight: bold;
}
.cart-list{
	padding:0 10px 10px 10px;
}
.cart-item{
	position: relative;
	height: 111px;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	width: 100%;
}
#cart-page .pic{
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}
#cart-page .info{
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	margin-left: 10px;
}
#cart-page .price{
	margin-top: 10px;
	font-size: 12px;
}
#cart-page .price em{
	margin-left: 5px;
	color: red;
}
.delete{
	margin-left: 10px;
	font-size: 12px;
}
 #cart-page .p-name{
 	line-height: 20px;
 	font-size: 12px;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-box-orient: vertical;
 	-webkit-line-clamp: 2;
 }
.pic img{
	width: 100px;
	height: 100px;
}
.num-wrap input{
	width: 32px;
	text-align: center;
	padding: 2px 5px;
	margin-left: 5px;
	margin-right: 5px;
}
#cart-page .total-num em{
	color: red;
	font-weight: bold;
}
#cart-page .num-wrap{
	position: absolute;
	bottom: 20px;
}
#cart-page .num-wrap .num-bnt {
  color: #FFFFFF;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  width: 30px;
  font-size: 15px;
  text-align: center;
  border-radius: 7px;
  background: #aeaeae;
  background: -webkit-linear-gradient(top, #aeaeae 0%, #4f4f4f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #aeaeae 0%, #4f4f4f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  line-height: 19px;
  display: inline-block;
}


body,
html{
	width: 100%;
	height: 100%;
}
#confirm-page{
	width: 100%;
	height: 100%;
	font-size: 14px;
}
#confirm-page .content{
	width: 100%;
	padding: 10px 20px;
	top: 50px;
}
.confirm-footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #ccc;
	display: flex;
	
}
#confirm-page .num-info{
	font-size: 12px;
	text-align: center;
	flex: 1;
}
#confirm-page .num-info em{
	color: #9E0A08;
}
#confirm-page .sub{
	text-align: center;
	flex: 1;
}
#confirm-page .submit{
	background: orange;
	padding: 9px 20px;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
}
#confirm-page .adress-info{
	height: 60px;
	padding-top: 5px;
	padding-left: 5px;
	width: 100%;
	line-height: 27px;
	border: 1px solid #CCCCCC;
}
#confirm-page .order-price{
	margin-top: 10px;
}
#confirm-page .order-price em {
	color: #9E0A08;
}
.myOrder{
	font-size: 14px;
}
#confirm-page .user-info{
	padding: 5px;
	margin-top: 10px;
	width: 96%;
	height: 50px;
	resize: none;
}

#confirm-page .order-product-info{
	margin-top: 10px;
	width: 100%;
}
#confirm-page .confirm-li{
	height: 110px;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
}
.confirm-pic{
	flex: 1;
}
#confirm-page .confirm-li img{
	width: 100Px;
	height: 100px;

}
#confirm-page .text-info{
	flex: 1;
}
#confirm-page .p-name{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.order-product-info .num-info{
	margin-top: 35px;
	flex: 1;
}

#order-list-page .content{
	
	bottom: 0;
}
.order-state-list{
	display: flex;
}
#order-li{
	text-align: center;
	flex: 1;
}
#order-li:hover{
	background: #000000;
	color: #fff;
}
#order-list-page .order-product-info{
	margin-top: 10px;
	padding: 0 20px;
}
#order-list-page .confirm-li{
	height: 110px;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
}
#order-list-page .confirm-pic{
	flex: 1;
}
#order-list-page .confirm-li img{
	width: 100Px;
	height: 100px;

}
#order-list-page .text-info{
	font-size: 14px;
	margin-top: 10px;
	flex: 1;
}
#order-list-page .p-name{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
#order-list-page .order-product-info .num-info{
	margin-top: 35px;
	flex: 1;
}
#order-list-page .order-product-info .num-info em{
	color: orange;
}

#order-list-page .total-info{
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	border-bottom: 1px solid #ccc;
	height: 33px;
	padding-left: 120px;
	
}
#order-list-page .total-info em{
	font-weight: bold;
	color: orange;
}

#order-list-page .order-btns div{
	border-bottom: 1px solid #ccc;
	height: 36px;
	display: flex;
	margin: 10px 20px 10px 20px;
}

#order-list-page .order-btns em{
	font-size: 12px;
	color: orange;
}
#order-list-page .order-btns div p {
	text-align: center;
	flex: 1;
}
#order-list-page .order-btns button{
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px 10px;
}
#pro-detail .content{
	padding: 10px 20px;
	top: 50px;
	bottom: 0;
}

#pro-detail .pro-img{
	width: 85%;
	height: 50%;
	
}
#pro-detail .pro-li{
	margin-top: 10px;
}

#history .content{
	top: 50px;
	bottom: 0;
}

#history .pro-item{
	display: flex;
	border-bottom: 1px solid #ccc;
}
#history .pic{
	flex: 1;
}
#history .pro-name{
	margin-top: 20px;
	flex: 1;
	line-height: 20px;
	height: 40px;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
#history .price{
	flex: 1;
	margin-left: 10px;
	margin-top: 30px;
}
#history .del{
	display: block;
	color: #8F0F0C;
}
#collectPage .content{
	top: 50px;
	bottom: 0px;
	padding-top: 20px;
	text-align: center;
	line-height: 30px;
}
#ticketPage .content{
	top: 50px;
	bottom: 0px;
	padding-top: 20px;
	text-align: center;
	line-height: 30px;
}
#aboutPage .content{
	top: 50px;
	bottom: 0px;
	padding-top: 20px;
	text-align: center;
	line-height: 30px;
}
* { margin: 0; padding: 0; box-sizing: border-box}
li { list-style: none}
body,html { height: 100%; overflow: hidden}



.login-list { padding: 10px; font-size: 14px;}
.login-list li { padding: 5px;}
.login-list li:nth-of-type(5),.login-list li:nth-of-type(6) {padding:15px;}
.text-bar { width: 100%; height: 40px; padding: 13px;}

.go-forget { margin: 0 10px;color:red;}

.login-in,.go-reg { display: block;width: 100%; height: 40px; line-height: 40px; text-align: center; background-color: #c30706; color:#Fff; border-radius: 4px;}
.login-in{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.3);
    background: #e22;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #e22 0%, #b11 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e22 0%, #b11 100%);
}
.go-reg {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.3);
    background-color: #3d3d3d;
    background: #7d7d7d;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #7d7d7d 0%, #2d2d2d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7d7d 0%, #2d2d2d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#LoginPage .content{
	top: 50px;
	bottom: 0px;
}

* { margin: 0; padding: 0; box-sizing: border-box}
li { list-style: none}
body,html { height: 100%; overflow: hidden}



.register-list { padding: 10px; font-size: 14px;}
.register-list li { padding: 15px;position:relative}
.register-list span{position:absolute;left:25px;top:27px;}
.register-list input{padding-left:80px;}

.text-bar { width: 100%; height: 40px; padding: 13px;}

.go-forget { margin: 0 10px;}

.login-in,.to-reg { display: block;width: 100%; height: 40px; line-height: 40px; text-align: center;  color:#fff; border-radius: 4px;}
.to-reg {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.3);
    background: #e22;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #e22 0%, #b11 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e22 0%, #b11 100%);
}
.error{
    color:red;
}
#RegisterPage .content{
	top: 50px;
	bottom: 0px;
}
#user-center-page .center{padding:20px}
 .center-list {padding:5px 1px;border:2px solid #e8e8e8;width:90%;margin:50px auto;border-radius:8px;}
 .center-list i{float:right;margin-right:15px;}
 .arrow-item{
    display: block;border-bottom:1px solid #ccc;font-size:20px;height:40px;
    line-height: 40px;padding-left:10px;color:#2b2b2b
}
#user-center-page .pic{width:100px;height:100px;margin-left:24px;margin-top:42px;}
#user-center-page .pic img{width:100%;height:100%;}
#user-center-page .price em{color:red;}
#user-center-page .top{font-size:20px;position:relative;}
#user-center-page .name{position: absolute;top:24px;left:140px;}
#user-center-page .price{position: absolute;top:54px;left:140px;}

#user-center-page .content{top: 50px;}
* { margin: 0; padding: 0; box-sizing: border-box}
li { list-style: none}
body,html { height: 100%; overflow: hidden}



.password-list { padding: 10px; font-size: 14px;}
.password-list li { padding: 5px;}
.password-list li:nth-of-type(7) {padding:40px 15px;}
.text-bar { width: 100%; height: 40px; padding: 13px;}

.save-in {font-size:20px; display: block;width: 100%; height: 40px; line-height: 40px; text-align: center; background-color:#6eb92b; color:#Fff; border-radius: 4px;}

#PasswordPage .content{
	top: 50px;
	bottom: 0px;
}
.advice-list {
	display: block;
	width: 290px;
	height: 180px;
	margin: 40px auto;
	border-radius: 8px;
	border: 2px solid #e6e6e6;
	background: #fff;
	font-size: 16px;
}

.commit {
	margin: 0 auto;
	font-size: 20px;
	display: block;
	width: 290px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #6eb92b;
	color: #Fff;
	border-radius: 4px;
}

#userPage .content {
	top: 50px;
	bottom: 0px;
}/*#morepage .center{padding:20px}*/
.more-list {width:100%;margin:0 auto;border-radius:8px;}
.more-list i{float:right;margin-right:15px;}
#morepage .arrow-item{
    display: block;border-bottom:1px solid #ccc;font-size:20px;height:40px;
    line-height: 40px;padding-left:10px;color:#2b2b2b
}
#morepage .content{top: 50px;}




/*# sourceMappingURL=bundle.css.map*/