.advice-list {
	display: block;
	width: 290px;
	height: 180px;
	margin: 40px auto;
	border-radius: 8px;
	border: 2px solid #e6e6e6;
	background: #fff;
	font-size: 16px;
}

.commit {
	margin: 0 auto;
	font-size: 20px;
	display: block;
	width: 290px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #6eb92b;
	color: #Fff;
	border-radius: 4px;
}

#userPage .content {
	top: 50px;
	bottom: 0px;
}