body,
html{
	width: 100%;
	height: 100%;
}
.cart-bar{
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
}
#cart-page .content{
	width: 100%;
}
#cart-page .total-price{
	margin-left: 60px;
}
#cart-page .total-price em{
	color: red;
	font-weight: bold;
}
.cart-list{
	padding:0 10px 10px 10px;
}
.cart-item{
	position: relative;
	height: 111px;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	width: 100%;
}
#cart-page .pic{
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}
#cart-page .info{
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	margin-left: 10px;
}
#cart-page .price{
	margin-top: 10px;
	font-size: 12px;
}
#cart-page .price em{
	margin-left: 5px;
	color: red;
}
.delete{
	margin-left: 10px;
	font-size: 12px;
}
 #cart-page .p-name{
 	line-height: 20px;
 	font-size: 12px;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-box-orient: vertical;
 	-webkit-line-clamp: 2;
 }
.pic img{
	width: 100px;
	height: 100px;
}
.num-wrap input{
	width: 32px;
	text-align: center;
	padding: 2px 5px;
	margin-left: 5px;
	margin-right: 5px;
}
#cart-page .total-num em{
	color: red;
	font-weight: bold;
}
#cart-page .num-wrap{
	position: absolute;
	bottom: 20px;
}
#cart-page .num-wrap .num-bnt {
  color: #FFFFFF;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  width: 30px;
  font-size: 15px;
  text-align: center;
  border-radius: 7px;
  background: #aeaeae;
  background: -webkit-linear-gradient(top, #aeaeae 0%, #4f4f4f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #aeaeae 0%, #4f4f4f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  line-height: 19px;
  display: inline-block;
}

